<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="connectionString" value="HOST=[ip];PORT=5433;USER=[user];PASSWORD=[password];DATABASE=[db];Pooling=true;MinPoolSize=1;MaxPoolSize=1;ResultBufferSize=512;"/>
    <add key="schemaName" value="[schemaName]"/>
    <add key="table1" value="[table1]"/>
    <add key="table2" value="[table2]"/>
    <add key="largetable" value="[largeTable]"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>